# <meta>
#    <source>@pssbletrngle/github-meta-generator</source>
#    <version>0.0.0-dev</version>
#    <timestamp>2026-06-24T20:12:28.874Z</timestamp>
#    <hash>2c1bc650caf3569</hash>
# </meta>

root = true


[*]

# Change these settings to your own preference
indent_style = space
indent_size = 4
ij_continuation_indent_size = 8

# We recommend you to keep these unchanged
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# ktlint rules
[*.{kt,kts}]
ktlint_standard_no-unused-imports = enabled
ktlint_standard_no-wildcard-imports = disabled

[*.kt]
ktlint_standard_package-name = disabled

[*.kts]
ktlint_standard_property-naming = disabled

[*.md]
trim_trailing_whitespace = false

[*.{yml,json}]
indent_size = 2